* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Segoe UI", sans-serif;
    background-color: #f9fafb;
    color: #333;
    line-height: 1.5;
    }

/* Liên kết */
a {
    color: #2563eb;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
a:hover {
    text-decoration: underline;
}

button{
    border:none;
}

/* Container chung */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Tiêu đề và đoạn văn */
h1, h2, h3, h4, h5 {
    font-weight: 600;
    color: #111827;
    margin-bottom: 0.5rem;
}
p {
    margin-bottom: 1rem;
}

/* Input / Form */
input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    outline: none;
}
input:focus, select:focus, textarea:focus {
    border-color: #2563eb;
}

/* Utility classes */
.text-center { text-align: center; }
.mt-1 { margin-top: 0.5rem; }
.mt-2 { margin-top: 1rem; }
.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }

/* Responsive cơ bản */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}